/* Default css */

.defaultFont {
  font-family: "Space Mono", monospace;
}

.lightGrayCyan {
  color: hsl(185, 41%, 84%);
}

.darkGrayCyan {
  color: hsl(186, 14%, 43%);
}

/* CSS STYLING FOR THE DEKTOP VIEW */

body {
  background-color: hsl(185, 41%, 84%);
  margin: 0px 0px 0px 0px;
}

/* TITLE OF THE PAGE */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  margin-bottom: -30px;
  margin-top: 15px;
}

.title span {
  letter-spacing: 5px;
  font-size: 24px;
}

/* Splitter Component */

.splitterComponent {
  width: 1000px;
  height: 550px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Bill Input Component */

.form {
  padding: auto;
  margin-top: 30px;
}

.billInputComponent {
  height: 520px;
  width: 470px;
  margin: auto;
  border-radius: 15px;
}

.billAmountSection {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.billAmountSection label {
  font-size: 18px;
}

.billAmountSection input {
  margin-right: 20px;
  margin-top: 10px;
  height: 40px;
  border: solid hsl(185, 41%, 84%);
  border-radius: 10px;
  outline: none;
  font-size: 22px;
  text-align: right;
  caret-color: hsl(186, 14%, 43%);
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
}

.billAmountSection input:hover:focus {
  border: solid hsl(186, 14%, 43%);
}

.billAmountSection span {
  color: hsl(184, 14%, 56%);
  font-size: 30px;
  margin-left: 20px;
  margin-top: -48px;
  width: fit-content;
}

.billTipSection {
  margin-top: 50px;
}

.billTipSection label {
  font-size: 18px;
  margin-bottom: 15px;
}

.billTipSection .tipOptions {
  display: flex;
  flex-wrap: wrap;
}

.billTipSection .tipOptions .option {
  width: 130px;
  height: 45px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  font-size: 24px;
  border-radius: 5px;
  margin: 10px 20px 10px 0px;
  padding: auto;
  text-align: center;
  padding-top: 5px;
}

.billTipSection .tipOptions input {
  width: 125px;
  height: 45px;
  background-color: hsl(189, 41%, 97%);
  margin: 10px 10px 10px 0px;
  font-size: 24px;
  border-radius: 8px;
  text-align: right;
  caret-color: hsl(183, 100%, 15%);
  color: hsl(183, 100%, 15%);
  border: solid hsl(185, 41%, 84%);
  outline: none;
}

.billTipSection .tipOptions input:hover {
  border: solid hsl(183, 100%, 15%);
}

.billTipSection .tipOptions .option:hover {
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  background-color: hsl(184, 14%, 56%);
}

.peopleInfoSection {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.peopleInfoSection label {
  font-size: 18px;
}

.peopleInfoSection input {
  margin-right: 20px;
  margin-top: 10px;
  height: 40px;
  border: solid hsl(185, 41%, 84%);
  border-radius: 10px;
  outline: none;
  font-size: 22px;
  text-align: right;
  caret-color: hsl(186, 14%, 43%);
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
}

.peopleInfoSection input:hover:focus {
  border: solid hsl(186, 14%, 43%);
}

.peopleInfoSection span {
  color: hsl(184, 14%, 56%);
  font-size: 30px;
  margin-left: 20px;
  margin-top: -48px;
  width: fit-content;
}

.errorMessage {
  font-size: 18px;
  color: red;
  text-align: right;
  display: block;
  margin-top: -80px;
  margin-right: 25px;
}

/* Bill Output Component */

.billOutputComponent {
  height: 520px;
  width: 470px;
  background-color: hsl(183, 100%, 15%);
  margin: auto;
  border-radius: 15px;
}

.billOutputComponent .tipPerPerson {
  margin: 50px;
  margin-top: 60px;
  display: flex;
}

.billOutputComponent .tipPerPerson .outputTitle {
  font-size: 24px;
  color: hsl(189, 41%, 97%);
}

.billOutputComponent .tipPerPerson .outputSubtitle {
  color: hsl(184, 14%, 56%);
}

.billOutputComponent .outputInfo {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.tipPerPerson .tipValue {
  font-size: 50px;
  align-items: center;
  margin-left: 60px;
  color: cyan;
}

.tipPerPerson .totalValue {
  font-size: 50px;
  align-items: center;
  margin-left: 130px;
  color: cyan;
}

.reset {
  width: 400px;
  height: 50px;
  background-color: hsl(185, 41%, 84%);
  margin: auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 148px;
}

.reset span {
  font-size: 24px;
  color: hsl(183, 100%, 15%);
}

.reset:hover {
  cursor: pointer;
  background-color: hsl(187, 40%, 68%);
}


/* MEDIA QUERIES FOR MOBILE DESIGN */

@media only screen and (max-width: 474px){
  .splitterComponent{
    flex-direction: column;
    height: auto;
    width: 90vw;
  }

  .billInputComponent{
    width: auto;
    height: auto;
  }

  .billOutputComponent{
    width: auto;
    height: auto;
    margin-top: 80px;
  }

  .billInputComponent .billTipSection .option{
    width: 180px;
    justify-content: space-between;
  }

  .billInputComponent .billTipSection .tipOptions input{
    width: 170px;
  }

  .billOutputComponent{
    width: inherit;
  }

  .reset{
    margin-top: 10px;
    margin-bottom: 20px;
  }


  .outputSubtitle{
    width: auto;
    font-size: 15px;
  }

  .billOutputComponent .totalValue{
    margin-left: 85px;
  }
}