<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>

    <!-- Link the css file -->
    <link rel="stylesheet" href="../Stylesheets/style.css">

    <!-- Link the Favicon -->
    <link rel="shortcut icon" href="../Assets/Favicon/favicon-32x32.png" type="image/x-icon">

    <!-- Link the fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Righteous&display=swap" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <!-- Heading  -->
        <div class="heading-Section">
            <span class="font-Heading" title="Add your tasks to th TODO list and remove when you accomplish them">
                TODO App
            </span>
        </div>

        <div class="event-Maker">
            <div class="description">
                <span class="title font-Heading">Description</span>
                <input type="text" name="" id="todo-Description" class="font-Sub-Heading"
                    placeholder="What do you need to do?">
            </div>

            <div class="select-Category-And-Date">

                <div class="selector">
                    <span class="title font-Heading">Category</span>
                    <select class="font-Sub-Heading" name="" id="">
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                        <option value="Personal">Personal</option>
                    </select>
                </div>

                <div class="selector">
                    <span class="title font-Heading">Due Date</span>
                    <input class="font-Sub-Heading" type="date" name="" id="date-Selector">
                </div>
            </div>

        </div>

    </div>

</body>

</html>